<!DOCTYPE html>

<html>
    {{> global/head}}
    <body>
        {{> global/header}}

        {{> global/nav}}

        <main>
            {{{body}}}
        </main>

        {{> global/footer}}
        {{> global/footer_scripts}}
    </body>
</html>