<div class="MegaMenu MegaMenu-col3" id="MegaMenu-target">
    <span id="MegaMenu-closer" class="MegaMenu_closer">Close</span>
    <div class="MegaMenu_col">
        <h2 class="MegaMenu_heading">By Format</h2>
        <ul class="MegaMenu_list">
            <li><a href="by/format/vinyl">Vinyl</a></li>
            <li>CD</li>
            <li>Digital</li>
        </ul>
    </div>
    <div class="MegaMenu_col">
        <h2 class="MegaMenu_heading">By Genre</h2>
        <ul class="MegaMenu_list">
            <li>Punk</li>
            <li>Metal</li>
            <li>Grunge</li>
            <li>Rock</li>
        </ul>
    </div>
    <div class="MegaMenu_col">
        <h2 class="MegaMenu_heading">Artist A-Z</h2>
    </div>
</div>