<div class="MegaMenu MegaMenu-col3" id="MegaMenu-target">
    <span id="MegaMenu-closer" class="MegaMenu_closer">Close</span>
    <div class="MegaMenu_col">
        <h2 class="MegaMenu_heading">By Format</h2>
        <ul class="MegaMenu_list">
            <li><a href="/by/format/vinyl">Vinyl</a></li>
            <li><a href="/by/format/cd">CD</a></li>
            <li><a href="/by/format/digital">Digital</a></li>
        </ul>
    </div>
    <div class="MegaMenu_col">
        <h2 class="MegaMenu_heading">By Genre</h2>
        <ul class="MegaMenu_list">
            <li><a href="/by/genre/punk">Punk</a></li>
            <li><a href="/by/genre/metal">Metal</a></li>
            <li><a href="/by/genre/grunge">Grunge</a></li>
            <li><a href="/by/genre/rock">Rock</a></li>
        </ul>
    </div>
    <div class="MegaMenu_col">
        <h2 class="MegaMenu_heading">Artist A-Z</h2>
    </div>
</div>