<nav class="Nav">
    <div class="Nav_logo">
        <img src="" href="#" class="Nav_logo_img">
    </div>

    <ul class="Nav_menu">
        <li class="Nav_menu_item">Home</li>
        <li class="Nav_menu_item">Departments</li>
        <li class="Nav_menu_item">Favourites</li>
        <li class="Nav_menu_item">Vouchers</li>
    </ul>

    <ul class="Nav_social" id="NavSocial-target">
        <li class="Nav_social_item">Facebook</li>
        <li class="Nav_social_item">Twitter</li>
        <li class="Nav_social_item">Google</li>
    </ul>

    <div class="Nav_currLangOptions" id="NavCurrLangOptions-target">
        <div class="PsuedoSelector PsuedoSelector-actionUp PsuedoSelector--active" id="CurrencyPsuedoSelecter">
            Hello
        </div>
    </div>

    <ul class="Nav_options FlexList">
        <li class="Nav_options_item FlexList_item" id="NavSocial-trigger">Social</li>
        <li class="Nav_options_item FlexList_item" id="NavCurrLangOptions-trigger">Curr/Lang</li>
    </ul>
</nav>